/* @import "tailwindcss"; */

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  height: 100%;
}

/* [data-rmiz]{
  z-index: -10;
} */

.overlay {
  z-index: 9999;
}

.slide-pane__overlay.overlay-after-open {
  z-index: 2;
}

a {
  outline: none;
  border: none;
}

/* .slide-pane_from_right.content-after-open{
  width:92%;
} */

@media (max-width: 768px) {
  .slide-pane__content {
    position: relative;
    overflow-y: auto;
    padding: 5% 5%;
    flex: 1 1 auto;
  }
}
