/* @import "tailwindcss"; */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

main {
  flex: 1; /* Это заставит контент растягиваться, заполняя пустоту */
}

footer {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

/* [data-rmiz]{
  z-index: -10;
} */

.overlay {
  z-index: 9999;
}

.slide-pane__overlay.overlay-after-open {
  z-index: 2;
}

a {
  outline: none;
  border: none;
}

/* .slide-pane_from_right.content-after-open{
  width:92%;
} */

@media (max-width: 768px) {
  .slide-pane__content {
    position: relative;
    overflow-y: auto;
    padding: 5% 5%;
    flex: 1 1 auto;
  }
}

